.row {

    margin-bottom: 0px !important;
}

.col .s4{

    padding-left: 0px !important;
    padding-right: 0px !important;

}

.card-content {

    padding: 8px 10px !important;
    margin: 8px 10px !important;

}